html { 
  background: url(background.jpg) no-repeat center center fixed; 
  background-size: cover;
}

.header_image{
  height: 150px;
  display: block;
  margin: 0 auto;
}

.column1 {
  display: inline-block;
  margin-left: 0px;
  border-bottom: 0px;
  width: 25%;
}

.column2 {
  display: inline-block;
  margin: 0 auto;
  width: 70%;
  position: relative;
  margin-left: -50px;
  margin-top: 30px;
}

img.mario {
  display: block;
  margin-bottom: -120px;
}

button  {
  width: 100px;
  height: 100px;
  background-image: url(box.jpg);
  border-color: rgba(0,0,0, .3);
  margin: 1%; 
}

button:hover {
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2);
}


p.hidden {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  visibility: hidden;
}

p.hidden_keys {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  visibility: hidden;
}

.row {
  display: block;
  margin-left: 15%;

}

