body {
  background-color: #be2801;
}



.header_image{
  height: 150px;
  display: inline-block;
  margin: 0 auto;
}

button  {
  width: 100px;
  height: 100px;
  background-image: url(http://pataruco.s3.amazonaws.com/ga/soundboard/box.jpg);
  border-color: rgba(0,0,0, .3);
  margin: 1%;
}

.column1 {
  height: auto;
  width: 20%;
}

.column2 {
  height: auto;
  width: 80%;
}